// import NewObject from '/js/minesweeper/new_object.js';

'use strict';

export const NewObject = (function(){

class NewObject {

  constructor(){
    const self = this;
    
  };

};

return NewObject;

})();

export default NewObject;
